<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style/Layout/gutters.css">
    <title>Grid</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <h1>Horizontal gutters</h1>
    <div class="container px-5"><hr>
        <div class="row gx-0">
            <div class="col">
                <div class="p-3 bg-light">Custom column padding</div>
            </div>
            <div class="col">
                <div class="p-3 bg-light">Custom column padding</div>
            </div>
        </div>
    </div>

    <div class="container overflow-hidden"><hr>
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
        </div>
    </div>

    <h1>Vertical gutters</h1>
    <div class="container overflow-hidden"><hr>
        <div class="row gy-5">
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
        </div>
    </div>

    <h1>Horizontal & vertical gutters</h1>
    <div class="container"><hr>
        <div class="row g-5">
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
        </div>
    </div>

    <h1>Row columns gutters</h1>
    <div class="container"><hr>
        <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2">
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Row column</div>
            </div>
        </div>
    </div>

</body>
</html>